@page "/playlist/{PlaylistId:long}"
@inherits PlaylistPageModel

<h1>Playlist <strong>@(CurrentPlaylist?.Name ?? "No Playlist available")</strong></h1>

@if (!string.IsNullOrWhiteSpace(InformationMessage))
{
    <div class="alert alert-info fade show">
        <div class="d-flex align-items-start">
            <div class="flex-grow-1">
                @InformationMessage
            </div>
            <button type="button" class="btn-close" aria-label="Close" @onclick="CloseInformationMessage"></button>
        </div>
    </div>
}

@if (CurrentPlaylist == null)
{
    <Loading />
}
else
{
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Track</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in CurrentPlaylist.Tracks)
            {
                <tr>
                    <td>@track.ArtistName - @track.AlbumTitle - @track.TrackName</td>
                    <td>
                        <div class="d-flex">
                            @if (CurrentPlaylist.Name != "My favorite tracks")
                            {
                                @if (track.IsFavorite)
                                {
                                    <a href="#" class="m-1" title="Unmark as favorite" @onclick="@(()=>ToggleFavoriteStatus(track))" @onclick:preventDefault>
                                        <i class="bi bi-star-fill"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="#" class="m-1" title="Mark as favorite" @onclick="@(()=>ToggleFavoriteStatus(track))" @onclick:preventDefault>
                                        <i class="bi bi-star"></i>
                                    </a>
                                }
                            }
                            <a href="#" class="m-1" title="Remove from this playlist" @onclick="@(() => RemoveTrack(track))" @onclick:preventDefault><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}